.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vmin auto;
  background: url("https://github.com/ChrisStayte/ReactDex/blob/master/src/pattern.png?raw=true");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25em;
  font-weight: bold;
  color: var(--background);
}

.App main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

body {
  background-color: transparent !important;
  text-rendering: optimizeLegibility;
}

.navbar {
  background-color: #ef5350 !important;
  
}

.navbar a:hover {
  background-color: var(--accent);
  color: var(--background);
}

.pokemon-list {
  padding: 4rem;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 0.25em;
}

.logo > h5 {
  padding-left: 0.5em;
  padding-right: 0;
  vertical-align: middle;
  font-size: 28px;
}

.api-card {
  opacity: 0.95;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pokemon-card {
  margin-top: 4em;
}

.creation-card {
  margin-bottom: 15%;
}

.form-control {
  margin-top: 3%;
}

.pokemon-form-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  border-radius: 2em;
  padding: 3.5em;
  margin: 2.5em;
  opacity: 0.95;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.pokemon-form-bg .btn {
  background-color: var(--red);
  color: var(--background);
  font-weight: bold;
  margin-top: 5%;
}

.pokemon-form-bg h3 {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15%;
}

.center {
  display: flex;
  justify-content: center;
}

.create-pokemon-error {
  background-color: pink;
  color: red;
  border-radius: 5px;
  width: 80%;
  padding: 2.5%;
}

.error-remove-btn {
  background-color: transparent;
  border: none;
  float: right;
}

.list-title {
  background-color: var(--background);
  border-radius: 15px;
  padding: 1.5%;
  opacity: 0.90;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.description-input {
  line-height: 1.6em;
}