.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vmin auto;
  background: url("https://github.com/ChrisStayte/ReactDex/blob/master/src/pattern.png?raw=true");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.0vmin;
  font-weight: bold;
  color: var(--background);
}

.App main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.App main h1 {
  color: var(--background);
  margin-bottom: 5vmin;
}

.App main h2 {
  color: var(--black);
  margin-bottom: 5vmin;
}

body {
  background-color: transparent !important;
}

.navbar {
  background-color: #ef5350 !important;
}

.navbar a:hover {
  background-color: var(--accent);
  color: var(--background);
}

.pokemon-list {
  padding: 4rem;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.25em;
}

.logo > h5 {
  padding-left: 0.5em;
  vertical-align: middle;
  font-size: 28px;
}

.card {
  opacity: 0.95;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pokemon-card {
  margin-top: 4em;
}