.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vmin auto;
  min-height: 100vh;
  background: url("https://github.com/ChrisStayte/ReactDex/blob/master/src/pattern.png?raw=true");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

.App-header {
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  font-size: 2.5vmin;
  color: var(--background);
}

.App main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.App main h1 {
  color: var(--secondary-dark);
  margin-bottom: 5vmin;
}

body {
  background-color: transparent !important;
}

.row {
  padding: 4rem;
}