:root {
  --black: #07020d;
  --accent: #5db7de;
  --background: #f1e9db;
  --secondary: #a39b8b;
  --secondary-dark: #716a5c;
  --red: #ef5350;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--background);
  padding: 1vmin;
  border-radius: 1vmin;
  text-decoration: none !important;
}

a.active {
  color: var(--background);
  background-color: var(--accent);
  cursor: default;
}

dl {
  margin-bottom: 0;
}

.margin-left-10 {
  margin-left: 10px;
}

input {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}